/*Principal styles*/

body {
}

.centralContent {
    margin: 0 auto;
}





/*Section Default*/

.boxResume {
    width : 200px;
    height : 210px;
    border:solid 1px black;
    margin: 10px auto;
    display: block;
    text-align:center;
    cursor: pointer;
}

.boxResume-picUrl {
    margin: 0 auto;
    display : inline-block;
    width: 64px;
    height : 64px;
}

.boxResume-rowInit {
    margin: 0 auto;
    width:200px;
    height:50px;
    text-align:center;
}

.boxResume-rowEnd {
    margin: 0 auto;
    width:200px;
    height:50px;
    text-align:center;
}

.generalAction {
    width : 70px;
    height : 70px;
    display: inline-block;
    text-align:center;
    cursor: pointer;
    background-position: center;
}

.refreshPic {
    background-image: url('http://i67.tinypic.com/qyyhsp_th.jpg');
    background-repeat: no-repeat;
    background-color: white;
}

.sharePic {
    background-image: url('http://oi68.tinypic.com/2vs20lk.jpg');
    background-repeat: no-repeat;
    background-color: white;
}

.shareUrgentPic {
    background-image: url('http://oi64.tinypic.com/a4o9q8.jpg');
    background-repeat: no-repeat;
    background-color: white;
}

.addUnitPic {
    background-image: url('https://cdn2.iconfinder.com/data/icons/iconika-productivity-solid-vol-1-1/512/Add_item_positive-128.png');
    background-repeat: no-repeat;
    background-color: white;
}

.AddActiontPic {
    background-image: url('https://cdn2.iconfinder.com/data/icons/iconika-productivity-solid-vol-1-1/512/Add_item_positive-128.png');
    background-repeat: no-repeat;
    background-color: white;
}

.boxResumeAmount {
    text-align:left;
}

.tableResume {
    width: 100%;
}

/*Section Actions/Steps*/
.titleAction {
    width: 80%;
    margin: 10px auto;
    text-align:left;
}

.boxStep {
    width : 80%;
    height : 70px;
    border: solid 1px black;
    margin: 10px auto;
    display: block;
    text-align:center;
}

.stepChecked {
    background-color: darkgray;
}

.stepNotChecked {
    background-color: aliceblue;
}

.tagCol {
    width : 20%;
    margin:auto;
    text-align :center;
}

.textCol {
    width : 80%;
    margin:auto;
    text-align :left;
}

.checkedCol {
    width : 20%;
    margin:auto;
    text-align :center;
}

.descriptionCol {
    margin:auto;
    text-align :left;
    font-style:italic;
}
