<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ASfollowServiceSoap" />
                <binding name="ActionServiceSoap" />
                <binding name="StepServiceSoap" />
                <binding name="UnitServiceSoap" />
                <binding name="TagServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2415/ASfollowService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ASfollowServiceSoap"
                contract="ASfollowService.ASfollowServiceSoap" name="ASfollowServiceSoap" />
            <endpoint address="http://localhost:2415/services/core/ActionService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ActionServiceSoap"
                contract="ActionService.ActionServiceSoap" name="ActionServiceSoap" />
            <endpoint address="http://localhost:2415/services/core/StepService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StepServiceSoap"
                contract="StepService.StepServiceSoap" name="StepServiceSoap" />
            <endpoint address="http://localhost:2415/services/core/UnitService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UnitServiceSoap"
                contract="UnitService.UnitServiceSoap" name="UnitServiceSoap" />
            <endpoint address="http://localhost:2415/services/core/TagService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TagServiceSoap"
                contract="TagService.TagServiceSoap" name="TagServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
