<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>
    <connectionStrings>
      <add name="ASfollowEntities" connectionString="metadata=res://*/ASfollowEntities.csdl|res://*/ASfollowEntities.ssdl|res://*/ASfollowEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MLADMIN-PC\SQLEXPRESS;initial catalog=asfollow;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
